*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
	-moz-box-sizing:border-box;
} 
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
