.text-align-right{
    text-align:right;	
}

.text-align-left{
    text-align:left;
}

.text-align-center{
    text-align:center;
}

.text-align-justify{
    text-align:justify;
}

.text-align-start{
    text-align:start;
}

.text-align-end{
    text-align:end;
}

.text-align-inherit{
    text-align:inherit;
}

.text-align-initial{
    text-align:initial;
}

.text-align-match-parent {
    text-align: match-parent;
}

.text-align-unset{
    text-align:unset;
}
