/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
img.img-responsive{ 
    max-width:100%;
     height:auto;
}

img.img-center {
    display: block;
    margin: 0 auto;
}

img.img-right{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float:right;

}

img.img-left{
  display: block;
  margin-left: auto;
  margin-right: auto;
  float:left;
	
}

img.img-round{
	 border-radius: 8px;

}

img.img-circle{
	border-radius: 50%;
}

//  img.img-thumbnail{
// 	 border: 1px solid #ddd;
//     border-radius: 4px;
//     padding: 5px;

// } 


img.img-polaroid{
	
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

}


img.img-card{
box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important

}

 
// img.img-triangle-up{
	
// }


// img.img-triangle-down{
	
// }

// img.img-triangle-left{
	
// }

// img.img-triangle-right{
	
// }



// img.img-square{
	
// }

// img.img-star{
	
// }

// img.img-moon{
	
// }
// img.img-rectangle{
	
// }

// img.img-pentagon{
	
// }

// img.img-hexagon{
	
// }

// img.img-octagon{
	
// }
// img.img-diamond{
	
// }

// img.img-cross{
	
// }

// img.img-trapezoid{
	
// }

// img.img-arrow-left{
	
// }

// img.img-arrow-right{
	
// }

// img.img-arrow-up{
	
// }

// img.img-arrow-down{
	
// }

// img.img-oval{
	
// }

// img.img-heart{
	
// }

// img.img-parallelogram{
	
// }
 