/*Color Shapes access via div tag <div class=shape-name></div>*/
.shape-square{
	width: 100px;
	height: 100px;
	background:#333;
	
}

.shape-rectangle {
	width: 200px;
	height: 100px;
	background:#333;
}

/* Cleaner, but slightly less support: use "50%" as value */
.shape-circle {
	width: 100px;
	height: 100px;
	background:#333;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

/* Cleaner, but slightly less support: use "50%" as value */
.shape-oval {
	width: 200px;
	height: 100px;
	background:#333;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

.shape-triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid  #333;
}

.shape-triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid  #333;
}


.shape-triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid  #333;
	border-bottom: 50px solid transparent;
}


.shape-triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid  #333;
	border-bottom: 50px solid transparent;
}

.shape-triangle-top-left {
	width: 0;
	height: 0;
	border-top: 100px solid  #333;
	border-right: 100px solid transparent;
}

.shape-triangle-top-right {
	width: 0;
	height: 0;
	border-top: 100px solid  #333;
	border-left: 100px solid transparent;

}

.shape-triangle-bottom-left {
	width: 0;
	height: 0;
	border-bottom: 100px solid  #333;
	border-right: 100px solid transparent;
}

.shape-triangle-bottom-right {
	width: 0;
	height: 0;
	border-bottom: 100px solid  #333;
	border-left: 100px solid transparent;
}

.shape-curved-arrow {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid  #333;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.shape-curved-arrow:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid  #333;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
					

.shape-trapezoid {
	border-bottom: 100px solid  #333;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

.shape-parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background:  #333;
}

.shape-star-six-points {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid  #333;
	position: relative;
}
.shape-star-six-points:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid  #333;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}

.shape-star-five-points {
   margin: 50px 0;
   position: relative;
   display: block;
   color:  #333;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid  #333;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

.shape-star-five-points:before {
   border-bottom: 80px solid  #333;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}

.shape-star-five-points:after {
   position: absolute;
   display: block;
   color:  #333;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid  #333;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}


.shape-pentagon {
    position: relative;
    width: 54px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color:  #333 transparent;
}

.shape-pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent  #333;
}

.shape-hexagon {
	width: 100px;
	height: 55px;
	background:  #333;
	position: relative;
}

.shape-hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid  #333;
}

.shape-hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid  #333;
}

.shape-octagon {
	width: 100px;
	height: 100px;
	background:  #333;
	position: relative;
}

.shape-octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid  #333;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

.shape-octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid  #333;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

.shape-heart {
    position: relative;
    width: 100px;
    height: 90px;
}
.shape-heart:before,
.shape-heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background:  #333;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

.shape-heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.shape-infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

.shape-infinity:before,
.shape-infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid  #333;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.shape-infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}



.shape-diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color:  #333;
	position: relative;
	top: -50px;
}

.shape-diamond:after {
	content: '';
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color:  #333;
}


.shape-diamond-shield {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 20px solid  #333;
	position: relative;
	top: -50px;
}

.shape-diamond-shield:after {
	content: '';
	position: absolute;
	left: -50px; top: 20px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid  #333;
}



.shape-diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid  #333;
	position: relative;
	top: -50px;
}

.shape-diamond-narrow:after {
	content: '';
	position: absolute;
	left: -50px; top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid  #333;
}



.shape-cut-diamond {
    border-style: solid;
    border-color: transparent transparent  #333 transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: relative;
    margin: 20px 0 50px 0;
}

.shape-cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color:  #333 transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}


.shape-egg {
   display:block;
   width: 126px;
   height: 180px;
   background-color:  #333;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

.shape-pac-man {
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid  #333;
  border-left: 60px solid  #333;
  border-bottom: 60px solid  #333;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.shape-talk-bubble {
   width: 120px;
   height: 80px;
   background:  #333;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}

.shape-talk-bubble:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid  #333;
   border-bottom: 13px solid transparent;
}


.shape-burst-12 {
    background:  #333;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
}

.shape-burst-12:before, #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background:  #333;
}

.shape-burst-12:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}

.shape-burst-12:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}


.shape-burst-8 {
    background:  #333;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}

.shape-burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background:  #333;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

.shape-yin-yang {
	width: 96px;
	height: 48px;
	background: #eee;
	border-color:  #333;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

.shape-yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #eee;
	border: 18px solid  #333;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

.shape-yin-yang:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background:  #333;
	border: 18px solid #eee;
	border-radius:100%;
	width: 12px;
	height: 12px;
}

.shape-badge-ribbon {
 position: relative;
 background:  #333;
 height: 100px;
 width: 100px;
 -moz-border-radius:    50px;
 -webkit-border-radius: 50px;
 border-radius:         50px;
}

.shape-badge-ribbon:before,
.shape-badge-ribbon:after {
  content: '';
  position: absolute;
  border-bottom: 70px solid  #333;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  top: 70px;
  left: -10px;
  -webkit-transform: rotate(-140deg);
  -moz-transform:    rotate(-140deg);
  -ms-transform:     rotate(-140deg);
  -o-transform:      rotate(-140deg);
}

.shape-badge-ribbon:after {
  left: auto;
  right: -10px;
  -webkit-transform: rotate(140deg);
  -moz-transform:    rotate(140deg);
  -ms-transform:     rotate(140deg);
  -o-transform:      rotate(140deg);
}


.shape-space-invader{

  box-shadow:
    0 0 0 1em  #333,
    0 1em 0 1em  #333,
    -2.5em 1.5em 0 .5em  #333,
    2.5em 1.5em 0 .5em  #333,
    -3em -3em 0 0  #333,
    3em -3em 0 0  #333,
    -2em -2em 0 0  #333,
    2em -2em 0 0  #333,
    -3em -1em 0 0  #333,
    -2em -1em 0 0  #333,
    2em -1em 0 0  #333,
    3em -1em 0 0  #333,
    -4em 0 0 0  #333,
    -3em 0 0 0  #333,
    3em 0 0 0  #333,
    4em 0 0 0  #333,
    -5em 1em 0 0  #333,
    -4em 1em 0 0  #333,
    4em 1em 0 0  #333,
    5em 1em 0 0  #333,
    -5em 2em 0 0  #333,
    5em 2em 0 0  #333,
    -5em 3em 0 0  #333,
    -3em 3em 0 0  #333,
    3em 3em 0 0  #333,
    5em 3em 0 0  #333,
    -2em 4em 0 0  #333,
    -1em 4em 0 0  #333,
    1em 4em 0 0  #333,
    2em 4em 0 0  #333;

    background:  #333;
    width: 1em;
    height: 1em;
    overflow: hidden;

    margin: 50px 0 70px 65px;
  }



.shape-tv {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 20px 0;
  background:  #333;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}

.shape-tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.shape-chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
}

.shape-chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background:  #333;
  -webkit-transform: skew(0deg, 6deg);
  -moz-transform: skew(0deg, 6deg);
  -ms-transform: skew(0deg, 6deg);
  -o-transform: skew(0deg, 6deg);
  transform: skew(0deg, 6deg);
}
.shape-chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background:  #333;
  -webkit-transform: skew(0deg, -6deg);
  -moz-transform: skew(0deg, -6deg);
  -ms-transform: skew(0deg, -6deg);
  -o-transform: skew(0deg, -6deg);
  transform: skew(0deg, -6deg);
}​


.shape-magnifying-glass
{
 font-size: 10em; /* This controls the size. */
 display: inline-block;
 width: 0.4em;
 height: 0.4em;
 border: 0.1em solid  #333;
 position: relative;
 border-radius: 0.35em;
}

.shape-magnifying-glass::before
{
 content: "";
 display: inline-block;
 position: absolute;
 right: -0.25em;
 bottom: -0.1em;
 border-width: 0;
 background:  #333;
 width: 0.35em;
 height: 0.08em;
 -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

.shape-facebook-icon {
  background:  #333;
  text-indent: -999em;
  width: 100px;
  height: 110px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 15px solid  #333;
  border-bottom: 0;
}

.shape-facebook-icon::before {
  content: "/20";
  position: absolute;
  background:  #333;
  width: 40px;
  height: 90px;
  bottom: -30px;
  right: -37px;
  border: 20px solid #eee;
  border-radius: 25px;
}
.shape-facebook-icon::after {
  content: "/20";
  position: absolute;
  width: 55px;
  top: 50px;
  height: 20px;
  background: #eee;
  right: 5px;
}

.shape-moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0  #333;
}

.shape-flag {
  width: 110px;
  height: 56px;
  padding-top: 15px;
  position: relative;
  background:  #333;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.shape-flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

.shape-cone {
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid  #333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.shape-cross {
  background:  #333;
  height: 100px;
  position: relative;
  width: 20px;
}
.shape-cross:after {
  background:  #333;
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

.shape-base {
  background:  #333;
  display: inline-block;
  height: 55px;
  margin-left: 20px;
  margin-top: 55px;
    position: relative;
    width: 100px;
}
.shape-base:before {
  border-bottom: 35px solid  #333;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -35px;
  width: 0;
}

.shape-bookmark-ribbon {
width: 0;
height: 100px;
border-left: 50px solid  #333;
border-right: 50px solid  #333;
border-bottom: 35px solid transparent;
}

.shape-ribbon-banner {
width:200px;
height: 0;
border: 15px solid transparent;
border-top: 25px solid  #333;
border-bottom: 25px solid  #333;
}
