/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$mineral-mist:#;
$blissful-blue:#;
$first-dawn:#;
$blue-babe:#;
$blue-lagoon:#;
$striking-cyan:#;
$sea-blue:#;
$holiday-blues-6:#;
$summer-medley-6:#;
$summer-medley-5:#;
$bermuda-cocktail-6:#;
$azure-sky-6:#;
$blue-opal:#;
$summer-medley-4:#;
$blue-seduction-6:#;
$holiday-blues-5:#;
$bermuda-cocktail-5:#;
$azure-sky-5:#;
$blue-seduction-5:#;
$mineral-mist:#;
$sash-blue:#;
$blue-seduction-4:#;
$holiday-blues-4:#;
$bermuda-cocktail-4:#;
$azure-sky-4:#;
$summer-medley-3:#;
$holiday-blues-3:#;
$delft-china:#;
$blue-seduction-3:#;
$blue-view:#;
$bermuda-cocktail-3:#;
$azure-sky-3:#;
$summer-medley-2:#;
$azure-fusion-6:#;
$holiday-blues-2:#;
$royal-regatta-5:#;
$blue-seduction-2:#;
$bermuda-cocktail-2:#;
$azure-sky-2:#;
$azure-fusion-5:#;
$summer-medley-1:#;
$holiday-blues-1:#;
$azure-fusion-4:#;
$royal-regatta-4:#;
$bermuda-cocktail-1:#;
$azure-sky-1:#;
$blue-seduction-1:#;
$woad-walk:#;
$azure-fusion-3:#;
$royal-regatta-3:#;
$sapphire-springs-3:#;
$venetian-crystal-3:#;
$sapphire-springs-2:#;
$royal-regatta-2:#;
$indigo-shade:#;
$blueberry-white:#;
$misty-sky:#;
$coastal-grey:#;
$quintessential-blue:#;
$frosted-lake:#;
$favourite-china:#;
$nordic-sky:#;
$vast-lake:#;
$stonewashed-blue:#;
$lost-lake:#;
$atlantic-adventure:#;
$atlantic-blue:#;
$breton-blue:#;
$sapphire-salute:#;
$oxford-blue:#;
$chalk-dust:#;
$clear-skies:#;
$niagara-blues-6:#;
$amazon-beat-6:#;
$liberty-blue-6:#;
$winter-teal-6:#;
$borrowed-blue:#;
$pebble-drift-6:#;
$celestial-cloud-6:#;
$atlantic-surf-6:#;
$wild-water-6:#;
$luna-landscape-6:#;
$light-french-grey:#;
$copenhagen-blue:#;
$winter-teal-5:#;
$celestial-cloud-5:#;
$liberty-blue-5:#;
$amazon-beat-5:#;
$pebble-drift-5:#;
$niagara-blues-5:#;
$atlantic-surf-5:#;
$wild-water-5:#;
$jewelled-creek-5:#;
$liberty-blue-4:#;
$blue-ribbon:#;
$celestial-cloud-4:#;
$blue-charm:#;
$country-sky:#;
$winter-teal-4:#;
$luna-landscape-5:#;
$pebble-drift-4:#;
$jewelled-creek-4:#;
$niagara-blues-4:#;
$light-teal:#;
$royal-regatta-6:#;
$hawaiian-blue-6:#;
$luna-landscape-4:#;
$amazon-beat-4:#;
$celestial-blue-6:#;
$liberty-blue-3:#;
$wild-water-4:#;
$atlantic-surf-4:#;
$light-cobalt:#;
$celestial-cloud-3:#;
$venetian-crystal-6:#;
$winter-teal-3:#;
$pebble-drift-3:#;
$earl-blue:#;
$earl-blue:#;
$niagara-blues-3:#;
$cornflower-bunch:#;
$luna-landscape-3:#;
$jewelled-creek-3:#;
$hawaiian-blue-5:#;
$celestial-cloud-2:#;
$wild-water-3:#;
$venetian-crystal-5:#;
$winter-teal-2:#;
$pebble-drift-2:#;
$amazon-beat-3:#;
$celestial-blue-5:#;
$boathouse-blue:#;
$niagara-blues-2:#;
$atlantic-surf-3:#;
$denim-drift:#;
$denim-drift:#;
$liberty-blue-2:#;
$venetian-crystal-4:#;
$hawaiian-blue-4:#;
$celestial-blue-4:#;
$celestial-cloud-1:#;
$woad-walk:#;
$luna-landscape-2:#;
$winter-teal-1:#;
$wild-water-2:#;
$pebble-drift-1:#;
$amazon-beat-2:#;
$steel-symphony-1:#;
$jewelled-creek-1:#;
$hawaiian-blue-3:#;
$niagara-blues-1:#;
$celestial-blue-3:#;
$atlantic-surf-2:#;
$liberty-blue-1:#;
$celestial-blue-2:#;
$hawaiian-blue-2:#;
$amazon-beat-1:#;
$azure-fusion-2:#;
$midnight-teal:#;
$luna-landscape-1:#;
$raven-plume:#;
$peaceful-night:#;
$indigo-shade:#;
$hawaiian-blue-1:#;
$venetian-crystal-2:#;
$deep-ultramarine:#;
$celestial-blue-1:#;
$atlantic-surf-1:#;
$royal-regatta-1:#;
$wild-water-1:#;
$viridian-tide:#;
$marine-waters:#;
$sapphire-springs-1:#;
$sapphire-salute:#;
$venetian-crystal-1:#;
$azure-fusion-1:#;
$dh-oxford-blue:#;
