/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$smooth-flint:#;
$found-fossil:#;
$misty-mountain:#;
$dove-slate:#;
$warm-pewter:#;
$urban-chic:#;
$concrete-grey:#;
$wishing-well:#;
$natural-slate:#;
$deep-fossil:#;
$urban-obsession:#;
$gallant-grey:#;
$creative-coal:#;
$bowler-hat:#;
$classic-black:#;
$black:#;
$rich-black:#;
$paper-chain:#;
$wise-diamond:#;
$silent-steel:#;
$flying-feather:#;
$constructed-steel:#;
$night-jewels-4:#;
$steel-symphony-3:#;
$dusted-moss-1:#;
$mineral-haze-1:#;
$quartz-flint-1:#;
$shadow-line:#;
$steel-symphony-2:#;
$grey-steel-1:#;
$undiscovered-forest:#;
$grey-splendor:#;
$cinder-block:#;
$night-jewels-3:#;
$stormy-retreat:#;
$smokey-slate:#;
$night-jewels-2:#;
$charcoal-drift:#;
$night-jewels-1:#;
$clouded-sky:#;
$cornflower-white:#;
$ashen-white:#;
$just-walnut:#;
$frosted-steel:#;
$polished-pebble:#;
$thimble-case:#;
$pebble-shore:#;
$muted-stone:#;
$misty-mirror:#;
$engraved-locket:#;
$pale-slate:#;
$goose-down:#;
$goose-down:#;
$chic-shadow:#;
$steel-parade:#;
$monument-grey:#;
$indian-white:#;
$swansdown:#;
$metal-white:#;
$chiffon-white-1:#;
$quartz-flint-3:#;
$porcelain-solitude:#;
$welsh-flint:#;
$nougat-slice:#;
$calm-sea:#;
$steel-symphony-6:#;
$mineral-haze-3:#;
$grey-wisp:#;
$clouded-pearl-1:#;
$silent-dove:#;
$turtledove-grey:#;
$goose-white:#;
$grey-steel-3:#;
$chalk-mark:#;
$quartz-flint-2:#;
$steel-symphony-5:#;
$mineral-haze-2:#;
$pebble-thoughts:#;
$brushed-buckle:#;
$night-jewels-5:#;
$brushed-buckle:#;
$goose-down:#;
$beachcomb-grey:#;
$silver-quill:#;
$pocket-stone:#;
$pressed-clay:#;
$knotted-twine:#;
$steel-symphony-4:#;
$beach-walk:#;
$modest-grey:#;
$garden-grey:#;
$dune-grass:#;
$grey-steel-2:#;
$green-raft:#;
$goosewing:#;
$pewter-plate:#;
$iced-frappe:#;
$urban-walk:#;
$forgotten-folly:#;
$lead-grey:#;
$forest-grey:#;
$javelin:#;
$noble-grey:#;
$dark-cocoa:#;
$ravens-flight:#;
$rich-black:#;
