/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$desert-wind:#f8f1e4;
$coastal-glow:#f9eed7;
$honey-beam:#fbead6;
$ivory-lace:#f5ebd8;
$apricot-white:#f1e3d1;
$buttermilk:#f0dfbc;
$californian-sands-6:#f9e9cb;
$harvest-fruits-6:#f6e9d6;
$golden-rambler-6:#f5e9d4;
$pharaohs-gold-6:#f5e8d2;
$pharaohs-gold-5:#f8e5c2;
$moroccan-sands-6:#f5e5c7;
$golden-rambler-5:#f8e4c2;
$californian-sands-5:#f9e3bc;
$polar-flame-6:#f5e2c9;
$golden-rambler-4:#fedeb4;
$harvest-fruits-5:#f5dfc4;
$californian-sands-4:#fadeae;
$pharaohs-gold-4:#f8deb1;
$tuscan-treasure-5:#fbdcb1;
$polar-flame-5:#f9dbbd;
$moroccan-sands-5:#fadbaf;
$pharaohs-gold-3:#fadaa1;
$polar-flame-4:#f8d6b3;
$pharaohs-gold-2:#ffd17d;
$californian-sands-3:#fdd28d;
$moroccan-sands-4:#fbd296;
$golden-rambler-3:#ffd191;
$harvest-fruits-4:#f9d1aa;
$earth-glaze-6:#ffce7d;
$golden-bark-6:#fdcb78;
$polar-flame-3:#ffc88f;
$polar-flame-2:#fac681;
$pharaohs-gold-1:#fdc468;
$harvest-fruits-3:#f9c292;
$earth-glaze-5:#ffc04e;
$golden-rambler-2:#ffbe67;
$californian-sands-2:#f9bf70;
$tuscan-treasure-4:#f1c184;
$moroccan-sands-3:#fbbd71;
$rich-havana-6:#fcbb58;
$tuscan-treasure-3:#f5bb71;
$golden-rambler-1:#ffb54f;
$golden-bark-5:#ffb240;
$polar-flame-1:#f9b462;
$moroccan-sands-2:#ffaf65;
$californian-sands-1:#fab248;
$earth-glaze-4:#feab13;
$harvest-fruits-2:#f4ac71;
$tuscan-treasure-2:#f9a947;
$nigerian-sands-6:#f8a850;
$rich-havana-5:#f7a835;
$golden-bark-4:#ffa200;
$spicy-sandalwood-6:#ec9f6c;
$nigerian-sands-5:#f49839;
$rich-havana-4:#f3951b;
$earth-glaze-3:#e39931;
$harvest-fruits-1:#f08948;
$spicy-sandalwood-5:#e58c4f;
$moroccan-sands-1:#eb8621;
$golden-bark-3:#d98c1d;
$spicy-sandalwood-4:#e2843f;
$nigerian-sands-4:#d77e29;
$rich-havana-3:#ce8121;
$spicy-sandalwood-3:#dc7525;
$sunbaked-terracotta:#e1b595;
$burning-embers:#e0a678;
$sumatran-melody-6:#f2e8e0;
$treacle-tart-6:#f2e6de;
$eastern-spice-6:#f4e5d9;
$nectar-jewels-6:#f5dece;
$dutch-gold-6:#f5dec5;
$honey-drizzle-6:#f3dec8;
$wholemeal-honey-6:#f4ddcc;
$jamaican-bronze-6:#f3ddc9;
$treacle-tart-5:#efdccf;
$dutch-gold-5:#f6d8b8;
$eastern-spice-5:#f3d4bd;
$honey-drizzle-5:#f0cfad;
$treacle-tart-4:#e4d1c2;
$sumatran-melody-5:#eacec0;
$jamaican-bronze-5:#efccab;
$nectar-jewels-5:#f0c8b0;
$dutch-gold-4:#f2c89b;
$wholemeal-honey-5:#e9c9b2;
$eastern-spice-4:#f0bc94;
$honey-drizzle-4:#e9bd8e;
$honey-drizzle-3:#eeba7d;
$jamaican-bronze-4:#ecba8b;
$wholemeal-honey-4:#e7b794;
$nectar-jewels-4:#eab696;
$sumatran-melody-4:#e1b7a3;
$sunbaked-terracotta:#e1b595;
$dutch-gold-3:#e6b580;
$eastern-spice-3:#ebaa76;
$treacle-tart-3:#d1b098;
$jamaican-bronze-3:#e6a96f;
$wholemeal-honey-3:#e0a678;
$honey-drizzle-2:#e0a767;
$sumatran-melody-3:#d9a387;
$nectar-jewels-3:#d99f7a;
$roasted-pumpkin-6:#e09b6c;
$modern-mustard:#dba000;
$dutch-gold-2:#d89e55;
$jamaican-bronze-2:#e09851;
$treacle-tart-2:#c49a7b;
$cherished-gold:#c19659;
$honey-drizzle-1:#d19038;
$eastern-spice-2:#dd883a;
$roasted-pumpkin-5:#da8953;
$wholemeal-honey-2:#d48b4c;
$mustard-blanket:#b89441;
$nectar-jewels-2:#cd8555;
$roasted-pumpkin-4:#d77e44;
$dutch-gold-1:#c88326;
$notebook-orange:#c2794f;
$sumatran-melody-2:#c2794f;
$jamaican-bronze-1:#c27b2e;
$nigerian-sands-3:#cc7436;
$prized-gold:#c07722;
$eastern-spice-1:#c5711f;
$treacle-tart-1:#ad7a51;
$roasted-pumpkin-3:#c96c25;
$nectar-jewels-1:#b4662f;
$wholemeal-honey-1:#ae6830;
$golden-bark-2:#a96b2b;
$sumatran-melody-1:#ae6335;
$earth-glaze-2:#986735;
$spicy-sandalwood-2:#a05e2e;
$rich-havana-2:#995f2c;
$nigerian-sands-2:#9a5c38;
$roasted-pumpkin-2:#8f5833;
$golden-bark-1:#6a4e36;
$rich-havana-1:#654330;