/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$nordic-spa:#;
$wellbeing:#;
$spring-meadow:#;
$pixie-green:#;
$electric-green:#;
$enchanted-eden:#;
$buckingham:#;
$willow-creek-6:#;
$moorland-magic-6:#;
$granada-green-6:#;
$willow-creek-5:#;
$crushed-pine-6:#;
$grecian-garland-6:#;
$green-parrot-6:#;
$forest-falls-6:#;
$grecian-spa-6:#;
$green-parrot-5:#;
$forest-falls-5:#;
$moorland-magic-5:#;
$willow-creek-4:#;
$grecian-spa-5:#;
$granada-green-5:#;
$green-parrot-4:#;
$grecian-garland-5:#;
$grecian-spa-4:#;
$forest-falls-4:#;
$granada-green-4:#;
$moorland-magic-4:#;
$grecian-garland-4:#;
$green-parrot-3:#;
$granada-green-3:#;
$grecian-spa-3:#;
$willow-creek-3:#;
$grecian-garland-3:#;
$dublin-bay-6:#;
$woodland-fern-6:#;
$forest-falls-3:#;
$granada-green-2:#;
$willow-creek-2:#;
$green-parrot-2:#;
$minted-glory-6:#;
$emerald-delight-6:#;
$grecian-spa-2:#;
$woodland-fern-5:#;
$grecian-garland-2:#;
$paradise-green-6:#;
$forest-falls-2:#;
$minted-glory-5:#;
$paradise-green-5:#;
$emerald-delight-5:#;
$dublin-bay-4:#;
$woodland-fern-4:#;
$willow-creek-1:#;
$green-parrot-1:#;
$dublin-bay-5:#;
$grecian-garland-1:#;
$granada-green-1:#;
$paradise-green-4:#;
$paradise-green-3:#;
$jade-cluster-4:#;
$forest-falls-1:#;
$emerald-delight-4:#;
$grecian-spa-1:#;
$minted-glory-4:#;
$woodland-fern-3:#;
$enchanted-eden:#;
$dublin-bay-3:#;
$celtic-moor-1:#;
$emerald-delight-3:#;
$minted-glory-3:#;
$jade-cluster-3:#;
$peppermint-beach-1:#;
$turquoise-copper:#;
$moorland-magic-1:#;
$jade-cluster-2:#;
$paradise-green-2:#;
$fortune-green:#;
$fortune-green:#;
$dublin-bay-2:#;
$morning-meadow:#;
$willow-tree:#;
$antique-map:#;
$jurassic-stone:#;
$valley-rock:#;
$antique-green:#;
$graceful-green:#;
$crushed-aloe:#;
$putting-green:#;
$green-ivy:#;
$sophisticated-sage:#;
$overtly-olive:#;
$leafy-cottage:#;
$fresh-sage:#;
$delicate-moss:#;
$green-glade:#;
$moss-blanket:#;
$olive-grove:#;
$heathland:#;
$highland-green:#;
$highland-falls-6:#;
$gooseberry-fool-6:#;
$english-mist-6:#;
$soft-fauna-6:#;
$tuscan-glade-6:#;
$jungle-fever-6:#;
$peppermint-beach-6:#;
$amazon-jungle-6:#;
$celtic-moor-6:#;
$japanese-maze-6:#;
$fennel-white:#;
$soft-moss-5:#;
$soft-moss-6:#;
$celtic-forest-5:#;
$silver-fern:#;
$jungle-fever-5:#;
$japanese-maze-5:#;
$fizzy-lemon:#;
$amazon-jungle-5:#;
$english-mist-5:#;
$woodland-pearl-6:#;
$peppermint-beach-5:#;
$highland-falls-5:#;
$tuscan-glade-5:#;
$celtic-moor-5:#;
$soft-fauna-5:#;
$soft-moss-4:#;
$japanese-maze-4:#;
$dh-pearl-colour:#;
$celtic-forest-4:#;
$crushed-pine-5:#;
$jungle-fever-4:#;
$willow-tree:#;
$amazon-jungle-4:#;
$woodland-pearl-5:#;
$gooseberry-fool-5:#;
$tuscan-glade-4:#;
$tumbled-glass:#;
$highland-falls-4:#;
$green-oxide:#;
$peppermint-beach-4:#;
$celtic-moor-4:#;
$crushed-pine-4:#;
$english-mist-4:#;
$soft-fauna-4:#;
$gooseberry-fool-4:#;
$letter-press:#;
$common-land:#;
$woodland-pearl-4:#;
$jade-cluster-6:#;
$crushed-mint:#;
$japanese-maze-3:#;
$garden-grey:#;
$celtic-forest-3:#;
$soft-moss-3:#;
$moorland-magic-3:#;
$celtic-moor-3:#;
$pistachio-crunch:#;
$amazon-jungle-3:#;
$putting-green:#;
$peppermint-beach-3:#;
$crushed-pine-3:#;
$tuscan-glade-3:#;
$dewy-lawn:#;
$highland-falls-3:#;
$veranda-green:#;
$japanese-maze-2:#;
$woodland-pearl-3:#;
$soft-fauna-3:#;
$jade-pinafore:#;
$gooseberry-fool-3:#;
$jungle-fever-3:#;
$sage-green:#;
$soft-moss-2:#;
$jade-cluster-5:#;
$rosemary-leaf:#;
$english-mist-3:#;
$olive-tree:#;
$muted-sage:#;
$moorland-magic-2:#;
$celtic-moor-2:#;
$celtic-forest-2:#;
$village-maze:#;
$peppermint-beach-2:#;
$jungle-fever-2:#;
$amazon-jungle-2:#;
$highland-falls-2:#;
$english-mist-2:#;
$crushed-pine-2:#;
$tuscan-glade-2:#;
$gooseberry-fool-2:#;
$mountain-moss:#;
$woodland-pearl-2:#;
$dh-grass-green:#;
$soft-fauna-2:#;
$dh-drab:#;
$jungle-fever-1:#;
$celtic-forest-1:#;
$english-mist-1:#;
$guild-green:#;
$woodland-pearl-1:#;
$gooseberry-fool-1:#;
$soft-fauna-1:#;
$crushed-pine-1:#;
$highland-falls-1:#;
$emerald-delight-2:#;
$japanese-maze-1:#;
$dh-slate:#;
$tuscan-glade-1:#;
$woodland-fern-2:#;
$wild-cactus:#;
$wild-cactus:#;
$amazon-jungle-1:#;
$minted-glory-2:#;
$paradise-green-1:#;
$emerald-delight-1:#;
$woodland-fern-1:#;
$indian-ivy-1:#;
$jade-cluster-1:#;
$minted-glory-1:#;
$dublin-bay-1:#;
$palm-night:#;
$alpine-view:#;
$mallard-green:#;