/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$vanilla-scoop:#;
$apple-white:#;
$soft-apple:#;
$kiwi-crush:#;
$luscious-lime:#;
$lime-zest-6:#;
$shell-stories:#;
$celtic-forest-6:#;
$kiwi-burst-6:#;
$lime-zest-4:#;
$kiwi-burst-5:#;
$lime-zest-5:#;
$kiwi-burst-4:#;
$lime-zest-3:#;
$kiwi-burst-3:#;
$indian-ivy-6:#;
$tarragon-glory-6:#;
$lime-zest-2:#;
$lime-slice:#;
$tarragon-glory-4:#;
$tarragon-glory-5:#;
$kiwi-burst-2:#;
$lime-zest-1:#;
$indian-ivy-5:#;
$indian-ivy-4:#;
$kiwi-burst-1:#;
$tarragon-glory-3:#;
$indian-ivy-3:#;
$tarragon-glory-2:#;
$soft-moss-1:#;
$indian-ivy-2:#;
$early-spring:#;
$fresh-stem:#;
$melon-sorbet:#;
$forest-lake-6:#;
$forest-lake-5:#;
$forest-lake-4:#;
$pale-olivine:#;
$forest-lake-3:#;
$sweet-citrus:#;
$chartreuse-charm:#;
$forest-lake-2:#;
$lime-squeeze:#;
$forest-lake-1:#;
$tarragon-glory-1:#;