/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$soft-coral :#faebdd;
$apricot-crush :#f8ddc2;
$soft-peach :#f6d8bd;
$tangerine-twist :#f08948;
$orange-fizz :#e2712b;
$moroccan-flame :#e36811;
$coral-flair :#d16965;
$coral-canyon-6 :#f4e6de;
$amber-queen-6 :#f4e6da;
$bongo-jazz-6 :#f3e6d9;
$silken-sunrise-6 :#f6e3db;
$caribbean-dawn-6 :#f0e5de;
$amber-queen-5 :#f7e2d3;
$mango-melody-6 :#f2e2d9;
$silken-sunrise-5 :#f6dcd4;
$coral-canyon-5 :#f4dccf;
$bongo-jazz-5 :#f5dcd0;
$mango-melody-5 :#f3d9cd;
$caribbean-dawn-5 :#efd8cf;
$amber-queen-4 :#f4d4bf;
$caribbean-dawn-4 :#f6d1c9;
$coral-canyon-4 :#f3d2c0;
$bongo-jazz-4 :#f8cec0;
$mango-melody-4 :#f2cebe;
$silken-sunrise-4 :#eeccc4;
$caribbean-dawn-3 :#f5c4bb;
$coral-canyon-3 :#f1bca4;
$mango-melody-3 :#f6b99d;
$amber-queen-3 :#f2b895;
$silken-sunrise-3 :#f2b4aa;
$bongo-jazz-3 :#f7a88c;
$coral-canyon-2 :#f1a888;
$auburn-falls-6 :#eba984;
$amber-queen-2 :#eca779;
$caribbean-dawn-2 :#eea197;
$mango-melody-2 :#f09d7c;
$ginger-glow-6 :#e79d75;
$mexican-mosaic-6 :#e99b78;
$bongo-jazz-2 :#f39578;
$amber-queen-1 :#f19754;
$silken-sunrise-2 :#eb9487;
$coral-canyon-1 :#ec916c;
$tangerine-twist :#f08948;
$mango-melody-1 :#e9855e;
$ginger-glow-5 :#e18959;
$mexican-mosaic-5 :#e3865d;
$auburn-falls-5 :#de814b;
$caribbean-dawn-1 :#e47969;
$flame-frenzy-5 :#dd7b59;
$ginger-glow-4 :#da783e;
$orange-fizz:#e2712b;
$silken-sunrise-1:#e16f5f;
$mexican-mosaic-4:#dc703d;
$african-adventure-5:#d9714c;
$auburn-falls-4:#e36811;
$bongo-jazz-1:#e16553;
$ginger-glow-3:#d46b29;
$mexican-mosaic-3:#d96630;
$flame-frenzy-4:#d4623c;
$salsa-mix:#cd6555;
$auburn-falls-3:#d55e26;
$african-adventure-4:#da5919;
$flame-frenzy-3:#cd562b;
$african-adventure-3:#d15028;
$autumn-fern-1:#bd5a2b;
$hot-paprika-4:#ce4531;
$mexican-mosaic-2:#b14e20;
$volcanic-splash-4:#b54131;
$hot-paprika-3:#b33625;
$auburn-falls-2:#a44126;
$tuscan-terracotta:#d8967b;
$copper-blush:#cc907b;
$toasted-terracotta:#bf7e61;
$collective-coral:#ca5b4a;
$brick-red:#8a4837;
$jungle-ginger-6:#efe7e3;
$thai-magic-6:#f2e6e2;
$polar-pink:#efddd1;
$powder-colour:#eadcd4;
$sicilian-summer-6:#ecdad5;
$autumn-fern-6:#eddad1;
$gipsy-bloom-6:#ecd9d5;
$autumn-fern-5:#ebcfc2;
$sicilian-summer-5:#e7cdc7;
$jungle-ginger-5:#eacdc2;
$thai-magic-5:#e9ccc5;
$gipsy-bloom-5:#e7cbc7;
$autumn-fern-4:#e4b8a5;
$jungle-ginger-4:#e5b4a3;
$thai-magic-4:#e3b3a8;
$poached-peach:#e6b580;
$sicilian-summer-4:#deb4aa;
$gipsy-bloom-4:#deb3af;
$safari-spice:#e2ad72;
$african-adventure-6:#e7a087;
$ayers-red:#d6a78a;
$volcanic-splash-6:#e19b8d;
$sunset-kiss:#dc9c86;
$jungle-ginger-3:#dc9c86;
$sunset-kiss:#dc9c86;
$thai-magic-3:#d99b8e;
$gipsy-bloom-3:#d59b96;
$flame-frenzy-6:#e49579;
$sicilian-summer-3:#d29a8f;
$autumn-fern-3:#d8967b;
$hot-paprika-6:#de8f7f;
$treasured-coral:#cd8161;
$inca-orange:#cd7966;
$frosted-papaya:#cd7266;
$volcanic-splash-5:#d27563;
$gipsy-bloom-2:#c27470;
$sicilian-summer-2:#bf7567;
$jungle-ginger-2:#cc6d4b;
$thai-magic-2:#b97470;
$red-sand:#b47761;
$salsa-mix:#cd6555;
$hot-paprika-5:#cd5e57;
$autumn-fern-2:#be6b44;
$toasted-clay:#ad6c55;
$auburn-leaves:#ae6335;
$thai-magic-1:#aa4d4c;
$red-ochre:#97534d;
$gipsy-bloom-1:#9d4c49;
$tin-red:#9a4c3c;
$jungle-ginger-1:#994c33;
$ginger-glow-2:#944e2d;
$sicilian-summer-1:#8b4c3f;
$flame-frenzy-2:#874831;
$auburn-falls-1:#863f2a;
$african-adventure-2:#873627;
$mexican-mosaic-1:#724232;
$ginger-glow-1:#674332;
$auburn-leather:#7d362a;
$hot-paprika-2:#7d2b2d;
$african-adventure-1:#69332a;
$hot-paprika-1:#5a3732;