/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$jasmine-shimmer:#f8edea;
$spring-rose:#f3e7ef;
$blossom-white:#eee2de;
$sorbet:#f3dbdd;
$pretty-pink:#e4d2e2;
$sweet-pink:#e8c4db;
$berry-smoothie:#d37998;
$fuschia-lily:#c1669d;
$raspberry-bellini:#be4f5c;
$juicy-red:#bd2927;
$volcanic-red:#b5322f;
$sumptuous-plum:#983660;
$cranberry-crunch:#a32e39;
$salsa-red:#ab1d2c;
$chalky-white-4:#eee9eb;
$orchid-opera-6:#eee8ea;
$party-surprise-6:#f0e7e5;
$sweet-sundae-6:#f0e7e8;
$fuchsia-falls-6:#f0e5e5;
$rose-trellis-6:#f4e1e3;
$sweet-sundae-5:#f2dee3;
$rock-candy-6:#f1dee6;
$flamingo-fun-6:#efdde7;
$party-surprise-5:#eedcda;
$borchid-opera-5:#e5dbe0;
$rose-trellis-5:#f2d6da;
$fuchsia-falls-5:#f1d5dd;
$rock-candy-5:#edd3df;
$flamingo-fun-5:#ebd2e2;
$orchid-opera-4:#e4d2dd;
$party-surprise-4:#ecd0cf;
$sweet-sundae-4:#efcad8;
$rose-trellis-4:#edc6d0;
$flamingo-fun-4:#e8c4db;
$party-surprise-3:#f2bcc2;
$sweet-sundae-3:#ebbecf;
$rock-candy-4:#e8bdd3;
$orchid-opera-3:#e6bdd9;
$fuchsia-falls-4:#e9b9ca;
$flamingo-fun-3:#e4b6d6;
$rose-trellis-3:#eca8b9;
$fuchsia-falls-3:#e6a7be;
$rock-candy-3:#e1a5c3;
$orchid-opera-2:#d6a4cc;
$party-surprise-2:#ed9aa3;
$sweet-sundae-2:#df93af;
$rose-trellis-2:#e0899c;
$popping-pink:#c98ebd;
$rock-candy-2:#d486ac;
$flamingo-fun-2:#d185b7;
$fuchsia-falls-2:#d37998;
$party-surprise-1:#d86c80;
$orchid-opera-1:#b973a8;
$sweet-sundae-1:#c76892;
$flamingo-fun-1:#c1669d;
$rose-trellis-1:#ce586c;
$fuchsia-falls-1:#c05674;
$rock-candy-1:#b8537b;
$ruby-fountain-4:#be4f5c;
$red-beacon:#c23433;
$fire-cracker-3:#b33e3f;
$red-stallion-3:#b23643;
$volcanic-splash-3:#b5322f;
$fire-cracker-2:#b52638;
$ruby-fountain-3:#a4343e;
$moroccan-velvet-3:#9d3352;
$red-stallion-2:#ab1d2c;
$candied-pink:#e5ced4;
$tea-rose:#ecccc8;
$satin-bow:#dfcecb;
$love-note:#d8ccc8;
$pink-bunting:#d5c2c8;
$craftsmans-clay:#c6baa8;
$raspberry-diva:#b27782;
$fondant-fancy:#b86d84;
$curious-crimson:#c15a57;
$summer-coulis:#9e555c;
$pepper-red:#b33e3f;
$roasted-red:#ab4546;
$redcurrant-clory:#974951;
$monarch:#833532;
$ruby-starlet:#782e34;
$blush-noisette-6:#eee9e6;
$adobe-pink-6:#efe8e6;
$emporium-rose-6:#eee8e8;
$burnt-autumn-6:#f1e7e4;
$oyster-cove-6:#ece7e4;
$blush-rambler-6:#efe6e5;
$soft-montelimar-6:#ebe5e5;
$polar-pink:#efddd1;
$pink-nevada-6:#ebdcdb;
$pale-peony:#e7ddde;
$blush-rambler-5:#eadbdd;
$candy-love-6:#ebdad9;
$waterlily-blush-6:#e8dadd;
$blush-noisette-5:#e5dbd7;
$oyster-cove-5:#e3dbd8;
$soft-montelimar-5:#e3dadb;
$soft-cinnebar-6:#e3dad8;
$adobe-pink-5:#ead0cf;
$emporium-rose-5:#e1d1d7;
$candy-love-5:#e7ced0;
$waterlily-blush-5:#e5ced4;
$burnt-autumn-5:#ecccc8;
$oyster-cove-4:#d8cfcd;
$soft-montelimar-4:#d9ced1;
$blush-noisette-4:#dbcdca;
$chic-lilac:#d6ccca;
$soft-cinnebar-5:#d6ccca;
$pink-nevada-5:#e6c4c5;
$blush-rambler-4:#dcc2c7;
$powder-pink:#d3bfc1;
$honest-touch:#e1bca7;
$soft-cinnebar-4:#ccc0c0;
$emporium-rose-4:#d6bbc9;
$adobe-pink-4:#ddb8b8;
$burnt-autumn-4:#e3b5b0;
$waterlily-blush-4:#d8b6c3;
$candy-love-4:#ddb5ba;
$pink-nevada-4:#e0adae;
$powdered-heather:#ceb2af;
$blush-noisette-3:#c8b2b0;
$soft-montelimar-3:#c3b3b8;
$oyster-cove-3:#c3b2b2;
$ayers-red:#d6a78a;
$ruby-fountain-6:#e3979b;
$burnt-autumn-3:#db9b96;
$waterlily-blush-3:#cb9db0;
$blush-rambler-3:#ca9da8;
$heather-solstice:#b6a5a6;
$soft-cinnebar-3:#b6a5a6;
$pink-nevada-3:#db9599;
$emporium-rose-3:#c29aaf;
$moroccan-velvet-6:#d7919e;
$red-stallion-6:#e18d93;
$adobe-pink-3:#cf9597;
$fire-cracker-6:#de8e89;
$summer-surprise-6:#d191a4;
$candy-love-3:#d0929c;
$red-stallion-5:#df8289;
$garnet-symphony-6:#d48594;
$russian-velvet-6:#c787a2;
$ruby-fountain-5:#db7680;
$oyster-cove-2:#a78e8e;
$blush-noisette-2:#ac8b88;
$soft-montelimar-2:#a48c95;
$fire-cracker-5:#d57471;
$pink-nevada-2:#cd747c;
$burnt-autumn-2:#ca7571;
$coral-polka:#d66b76;
$floral-bunch:#d66b76;
$moroccan-velvet-5:#cb6e81;
$adobe-pink-2:#c27179;
$emporium-rose-2:#ac7996;
$russian-velvet-5:#bb7191;
$candy-love-2:#c16d7e;
$soft-cinnebar-2:#977f82;
$summer-surprise-5:#b86d84;
$garnet-symphony-5:#c55f76;
$waterlily-blush-2:#a86d86;
$blush-rambler-2:#ae6b80;
$red-stallion-4:#c25c67;
$fire-cracker-4:#c15a57;
$capri-rose:#966870;
$garnet-symphony-4:#ae5367;
$russian-rouge:#b94d4d;
$oyster-cove-1:#8a6769;
$soft-montelimar-1:#856772;
$blush-noisette-1:#8f6360;
$summer-surprise-4:#aa516f;
$soft-cinnebar-1:#816469;
$adobe-pink-1:#9e555c;
$pink-nevada-1:#ac4b57;
$russian-velvet-4:#a14c72;
$summer-surprise-3:#a54668;
$moroccan-velvet-4:#a6445c;
$burnt-autumn-1:#a34140;
$emporium-rose-1:#82516f;
$blush-rambler-1:#964561;
$candy-love-1:#984356;
$garnet-symphony-3:#a03547;
$waterlily-blush-1:#834662;
$russian-velvet-3:#983660;
$summer-surprise-2:#854459;
$volcanic-splash-2:#91302c;
$russian-velvet-2:#823556;
$ruby-fountain-2:#991b25;
$ruby-fountain-1:#89242b;
$moroccan-velvet-2:#763046;
$summer-surprise-1:#6a3144;
$red-stallion-1:#77272c;
$abacus-bead:#6b3136;
$russian-velvet-1:#622f4d;
$garnet-symphony-2:#791c33;
$volcanic-splash-1:#662d29;
$moroccan-velvet-1:#6b2230;
$fire-cracker-1:#672529;
$garnet-symphony-1:#51272e;