/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$ocean-ripple:#;
$first-frost:#;
$pistachio-whip:#;
$lagoon-falls:#;
$jade-white:#;
$marine-splash:#;
$javan-dawn-6:#;
$crystal-surprise-6:#;
$crystal-surprise-5:#;
$javan-dawn-5:#;
$javan-dawn-4:#;
$crystal-surprise-4:#;
$javan-dawn-3:#;
$crystal-surprise-3:#;
$blue-diamond-6:#;
$crystal-surprise-2:#;
$javan-dawn-2:#;
$javan-dawn-1:#;
$crystal-surprise-1:#;
$electric-blue:#;
$blue-diamond-4:#;
$blue-diamond-2:#;
$atmosphere:#;
$peppermint-candy:#;
$country-blue:#;
$birds-egg:#;
$mint-macaroon:#;
$duck-egg:#;
$blue-reflection:#;
$pretty-peacock:#;
$teal-façade:#;
$teal-touch:#;
$proud-peacock:#;
$totally-teal:#;
$teal-tension:#;
$mysterious-teal:#;
$teal-ripple:#;
$sea-urchin-6:#;
$jewelled-creek-6:#;
$inky-pool-6:#;
$atmosphere:#;
$velvet-touch-5:#;
$sea-urchin-5:#;
$velvet-touch-6:#;
$velvet-touch-4:#;
$paper-mint:#;
$inky-pool-5:#;
$sea-urchin-4:#;
$atlas-blue:#;
$velvet-touch-3:#;
$inky-pool-4:#;
$sky-blue:#;
$sea-urchin-3:#;
$blue-diamond-5:#;
$inky-pool-3:#;
$velvet-touch-2:#;
$tranquil-depths:#;
$sea-urchin-2:#;
$maritime-teal:#;
$jewelled-creek-2:#;
$blue-diamond-3:#;
$inky-pool-2:#;
$teal-voyage:#;
$sea-urchin-1:#;
$velvet-touch-1:#;
$inky-pool-1:#;
$sodium-sky:#;
$blue-diamond-1:#;
