/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$cotton-breeze:#;
$violet-white:#;
$gentle-lavender:#;
$sugared-lilac:#;
$purple-pout:#;
$deep-aubergine:#;
$lilac-heather-6:#;
$lilac-spring-6:#;
$lavender-blossom-6:#;
$fragrant-cloud-6:#;
$midnight-iris-6:#;
$violet-verona-6:#;
$amethyst-showers-6:#;
$mystic-mauve-6:#;
$patisserie-pink:#;
$heather-bloom-6:#;
$lilac-heather-5:#;
$midnight-iris-5:#;
$fragrant-cloud-5:#;
$morning-jewel-6:#;
$amethyst-showers-5:#;
$violet-verona-5:#;
$heather-bloom-5:#;
$lavender-blossom-5:#;
$lilac-spring-5:#;
$lilac-heather-4:#;
$fragrant-cloud-4:#;
$midnight-iris-4:#;
$amethyst-showers-4:#;
$lilac-spring-4:#;
$violet-verona-4:#;
$mystic-mauve-5:#;
$lavender-blossom-4:#;
$mystic-mauve-4:#;
$violet-verona-3:#;
$lavender-blossom-3:#;
$lilac-heather-3:#;
$amethyst-showers-3:#;
$lilac-spring-3:#;
$midnight-iris-3:#;
$fragrant-cloud-3:#;
$marble-swirl-4:#;
$lilac-spring-2:#;
$lavender-blossom-2:#;
$mystic-mauve-3:#;
$violet-verona-2:#;
$velvet-ribbon-6:#;
$amethyst-showers-2:#;
$fragrant-cloud-2:#;
$midnight-iris-2:#;
$lilac-heather-2:#;
$lilac-spring-1:#;
$mystic-mauve-2:#;
$violet-verona-1:#;
$velvet-ribbon-5:#;
$fragrant-cloud-1:#;
$lavender-blossom-1:#;
$lilac-heather-1:#;
$pamplona-purple-4:#;
$velvet-ribbon-4:#;
$midnight-iris-1:#;
$amethyst-showers-1:#;
$mystic-mauve-1:#;
$martian-skies-3:#;
$pamplona-purple-3:#;
$martian-skies-2:#;
$velvet-ribbon-3:#;
$amethyst-falls-3:#;
$plush-velvet-3:#;
$purple-infusion-2:#;
$damson-dream-3:#;
$velvet-ribbon-2:#;
$damson-dream-2:#;
$amethyst-falls-2:#;
$plush-velvet-2:#;
$purple-infusion-1:#;
$regal-purple:#;
$martian-skies-1:#;
$scent-bottle:#;
$lavender-quartz:#;
$dusted-fondant:#;
$blue-belle:#;
$pressed-thistle:#;
$amethyst-starling:#;
$heather-climb:#;
$plum-preserve:#;
$mulberry-burst:#;
$royal-berry:#;
$himalayan-musk-6:#;
$mellow-heather-6:#;
$imperial-mauve-6:#;
$violet-surprise-6:#;
$purple-sage-6:#;
$violet-jewel:#;
$purple-polka-6:#;
$chalky-white-1:#;
$mellow-heather-5:#;
$imperial-mauve-5:#;
$starlit-night-6:#;
$brooklyn-nights-6:#;
$twilight-cinders-6:#;
$violet-surprise-5:#;
$mercury-shower-6:#;
$moon-waves-6:#;
$idle-snow:#;
$himalayan-musk-5:#;
$marble-swirl-6:#;
$mauve-cloud:#;
$purple-polka-5:#;
$purple-sage-5:#;
$brooklyn-nights-5:#;
$violet-surprise-4:#;
$starlit-night-5:#;
$mellow-heather-4:#;
$imperial-mauve-4:#;
$twilight-cinders-5:#;
$mercury-shower-5:#;
$mauve-moment:#;
$morning-jewel-5:#;
$hazy-lilac:#;
$moon-waves-5:#;
$lavender-grey:#;
$marble-swirl-5:#;
$mercury-shower-4:#;
$english-lavender:#;
$moon-waves-4:#;
$himalayan-musk-4:#;
$purple-sage-4:#;
$purple-polka-4:#;
$violet-surprise-3:#;
$mellow-heather-3:#;
$twilight-cinders-4:#;
$brooklyn-nights-4:#;
$imperial-mauve-3:#;
$lilac-rose:#;
$heather-bloom-4:#;
$morning-jewel-4:#;
$damson-dream-6:#;
$starlit-night-4:#;
$mercury-shower-3:#;
$pamplona-purple-6:#;
$moon-waves-3:#;
$sapphire-springs-6:#;
$heather-bloom-3:#;
$himalayan-musk-3:#;
$frosted-grape:#;
$imperial-mauve-2:#;
$purple-infusion-6:#;
$twilight-cinders-3:#;
$plush-velvet-6:#;
$brooklyn-nights-3:#;
$purple-polka-3:#;
$marble-swirl-3:#;
$purple-sage-3:#;
$martian-skies-6:#;
$violet-surprise-2:#;
$morning-jewel-3:#;
$mellow-heather-2:#;
$amethyst-falls-6:#;
$hidden-heather:#;
$violet-night:#;
$martian-skies-5:#;
$sapphire-springs-5:#;
$starlit-night-3:#;
$spring-crocus:#;
$blue-incense:#;
$moon-waves-2:#;
$blue-incense:#;
$pamplona-purple-5:#;
$damson-dream-5:#;
$purple-infusion-5:#;
$plush-velvet-5:#;
$mercury-shower-2:#;
$heather-bloom-2:#;
$martian-skies-4:#;
$himalayan-musk-2:#;
$amethyst-falls-5:#;
$wistful-mauve:#;
$mauve-mist:#;
$purple-polka-2:#;
$imperial-mauve-1:#;
$marble-swirl-2:#;
$twilight-cinders-2:#;
$purple-sage-2:#;
$purple-infusion-4:#;
$amethyst-falls-4:#;
$plush-velvet-4:#;
$palladian-plum:#;
$mellow-heather-1:#;
$sapphire-springs-4:#;
$ink-wash:#;
$morning-jewel-2:#;
$gentle-heather:#;
$dh-indigo:#;
$brooklyn-nights-2:#;
$moon-waves-1:#;
$violet-surprise-1:#;
$heather-climb:#;
$passion-flower:#;
$distant-violet:#;
$veiled-violet:#;
$damson-dream-4:#;
$starlit-night-2:#;
$pressed-blueberry:#;
$marble-swirl-1:#;
$pamplona-purple-2:#;
$mercury-shower-1:#;
$heather-bloom-1:#;
$purple-infusion-3:#;
$himalayan-musk-1:#;
$elderberry-jam:#;
$morning-jewel-1:#;
$purple-sage-1:#;
$purple-polka-1:#;
$brooklyn-nights-1:#;
$twilight-cinders-1:#;
$indigo-night:#;
$starlit-night-1:#;
$wild-blackberry:#;
$pamplona-purple-1:#;
$velvet-ribbon-1:#;
$amethyst-falls-1:#;
$black-plum:#;
$plush-velvet-1:#;
$damson-dream-1:#;
$story-teller:#;
$galactic-sky:#;
$dark-aubergine:#;