/*=================================================================================
=  Project Name:			Genius
=  Project URL Address: 	https://genius.ziggyrafiq.com
=  Copyright by: 			Ziggy Rafiq (https://ziggyrafiq.com)
=  Version: 				0.0.1 (currently in development)
===================================================================================*/
$lunar-falls:#f7f2d9;
$lemon-spirit:#f8f4c0;
$vanilla-shake:#f6edd1;
$daffodil-white:#f6ebce;
$soft-vanilla:#f7e9c5;
$pale-citrus:#f8e6b5;
$vanilla-sundae:#fbe5ad;
$lemon-pie:#ffe088;
$wild-primrose:#f3e1b7;
$lemon-tropics:#fade98;
$banana-split:#ffcf73;
$sunny-day:#f4d088;
$lemon-punch:#eecd40;
$vanilla-mist-4:#f3eedc;
$buttercup-fool-6:#f6edd1;
$primrose-white:#f3ecd3;
$golden-fern-6:#f5ebd3;
$lemon-chiffon-5:#f7e9c5;
$banana-dream-5:#fbe8b8;
$lemon-chiffon-6:#f4e6c9;
$spring-breeze-5:#f8e6b5;
$easter-morn-6:#f6e6bb;
$golden-fern-5:#f5e5c4;
$lemon-chiffon-4:#fbe5ad;
$spring-breeze-6:#f4e6c0;
$banana-dream-6:#f6e4bd;
$banana-dream-4:#fde39f;
$easter-morn-5:#f6e2a9;
$lemon-chiffon-3:#ffe088;
$easter-morn-4:#ffdf96;
$golden-fern-4:#fadeaa;
$honeysuckle:#f2dec2;
$spring-breeze-4:#f7df96;
$cocoa-butter:#fbdcb1;
$easter-morn-3:#ffdd78;
$buttercup-fool-4:#ffdc8c;
$buttercup-fool-3:#fad98e;
$golden-fern-3:#fed58f;
$lemon-chiffon-2:#ffd562;
$lemon-zest:#f3cb5d;
$sunflower-symphony-6:#ffd571;
$spring-breeze-3:#f3d975;
$sulphur-springs-6:#f8d483;
$buttercup-fool-2:#fed362;
$banana-split:#ffcf73;
$sunny-savannah-5:#ffd145;
$citron-sunrise:#f6d431;
$delhi-bazaar-6:#ffcf57;
$banana-dream-3:#fbd066;
$banana-dream-2:#ffce38;
$sunny-savannah-6:#f6cf6c;
$easter-morn-2:#fccd46;
$sulphur-springs-5:#ffcb4d;
$spring-breeze-2:#eecf50;
$golden-fern-2:#fdc869;
$delhi-bazaar-4:#ffc700;
$sunny-savannah-4:#faca35;
$banana-dream-1:#fbc94a;
$buttercup-fool-1:#faca22;
$golden-fern-1:#ffc452;
$easter-morn-1:#fbc925;
$delhi-bazaar-5:#ffc600;
$sunflower-symphony-5:#ffc032;
$sicilian-lime:#dfcd45;
$sunny-savannah-3:#f7c500;
$sulphur-springs-4:#ffc100;
$lemon-chiffon-1:#f3b903;
$spring-breeze-1:#ecc722;
$sulphur-springs-3:#f8af1c;
$sunny-savannah-2:#e5b600;
$delhi-bazaar-3:#e2ae00;
$sun-dust-1:#dba000;
$butter-dish:#;
$county-cream:#;
$butter-biscuit:#;
$honey-mustard:#;
$muted-gold:#;
$tuscan-treasure-6:#;
$desert-island-6:#;
$dh-white:#;
$buttercup-fool-5:#;
$golden-umber-6:#;
$desert-island-5:#;
$sun-dust-6:#;
$cream:#;
$butter-cup:#;
$sundrenched-saffron-5:#;
$butter-dish:#;
$sun-dust-5:#;
$sundrenched-saffron-6:#;
$dh-stone:#;
$golden-umber-5:#;
$sun-dust-4:#;
$golden-ivory:#;
$sundrenched-saffron-4:#;
$golden-umber-4:#;
$desert-island-4:#;
$desert-island-3:#;
$buff:#;
$pale-cream:#;
$sunflower-symphony-4:#;
$desert-island-2:#;
$sun-dust-3:#;
$sweet-wafer:#;
$sundrenched-saffron-3:#;
$golden-umber-3:#;
$golden-umber-3:#;
$molten-yellow:#;
$popped-corn:#;
$sun-dust-2:#;
$sundrenched-saffron-2:#;
$golden-umber-2:#;
$sunflower-symphony-3:#;
$sundrenched-saffron-1:#;
$brushed-gold:#;
$burnt-desert:#;
$desert-island-1:#;
$golden-umber-1:#;
$ochre-weave:#;
$sulphur-springs-2:#;
$tuscan-treasure-1:#;
$sunflower-symphony-2:#;
$masters-gold:#;
$sunny-savannah-1:#;
$delhi-bazaar-2:#;
$sunflower-symphony-1:#;
$sulphur-springs-1:#;